<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <ul>
        <h1>Recordando lo olvidado</h1>
        <p>Te encuentras en el inicio</p>
        <li><a href="Pagina1.html">This Game</a>
        <li><a href="Pagina2.html">world.ExecuteMe.exe</a>
        <li><a href="Pagina3.html">Another Heaven</a>
        <li><a href="Pagina3.html">Another Heaven</a>
    </ul>
    <p>Abre otra pestaña de Inicio</p>
    <a href="Pagina.html" target="_blank">Click Aqui</a>
</body>
<footer>
    
</footer>
</html>